<ion-header>
  <ion-toolbar color="primary">
    <ion-title>kategori</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
              </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <ion-infinite-scroll>
  <ion-list>
    <ion-item>
  <ion-card  color="primary" routerLink="/kategori/buah" >
    <img  width="80" height="250" src="assets/img/bg/buah2.jpg" />
    <ion-card-header>
      <ion-card-title>Buah</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      Produk Buah kami datang dari petani lokal, Selalu Menyajikan Yang Fresh
    </ion-card-content>
  </ion-card>
  </ion-item>
  <ion-item>
  <ion-card color="primary" routerLink="/kategori/sayur" >
    <img  width="80" height="250" src="assets/img/bg/sayur2.jpg" />
    <ion-card-header>
      <ion-card-title>Sayur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Produk Sayur kami datang dari petani lokal, Selalu Menyajikan Yang Fresh
    </ion-card-content>
  </ion-card>
  </ion-item>
  </ion-list>
</ion-infinite-scroll>
  
  </ion-content>  
  
  
