<ion-header>
    <ion-toolbar color="dark">
      <ion-title><ion-text color="light">Tambah Produk</ion-text></ion-title>
      
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-content>
  <ion-item *ngIf="id>=1" >
    <div>
      <br>
      <ion-thumbnail class="thumbnail" > <img src="assets/img/produk/{{gambar}}"></ion-thumbnail>
    <br>
    </div>
  </ion-item>
    <ion-item>
      <ion-label position="stacked"> Nama Produk </ion-label>
      <ion-input type="text" [(ngModel)]="nama"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label position="stacked">Kategori Produk</ion-label>
        <ion-select [(ngModel)]="kategori" placeholder="pilih">
          <ion-select-option value="Buah">Buah</ion-select-option>
          <ion-select-option value="Sayur">Sayur</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-item>
        <ion-label position="stacked"> Stok Produk </ion-label>
        <ion-textarea [(ngModel)]="stok"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label position="stacked"> Harga Produk </ion-label>
          <ion-textarea [(ngModel)]="harga"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-label position="stacked"> Kondisi Produk </ion-label>
            <ion-textarea [(ngModel)]="kondisi"></ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label position="stacked"> Satuan Produk </ion-label>
              <ion-textarea [(ngModel)]="satuan"></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label position="stacked"> Gambar Produk </ion-label>
                <ion-textarea [(ngModel)]="gambar"></ion-textarea>
              </ion-item>
              </ion-card-content>
              <ion-button expand="block" padding color="dark" *ngIf="!id" 
              (click)="tambahproduk()" >Simpan Produk</ion-button>
              <ion-button expand="block" padding color="dark" *ngIf="id>=1" 
                (click)="updateproduk()" >Update</ion-button>
            <br>
            </ion-card>
  
    
  
  </ion-content>
  