<ion-header>
    <ion-toolbar>
      <ion-title>tescrud</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <ion-grid >
      <ion-row>
        <ion-col col-12>
            <button ion-button color="dark">Tambah Data</button>
            <table>
              <thead>
              <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Tanggal Pembelian</th>
                <th>Batas Pembayaran</th>
                <th>Total Bayar</th>
                <th>Status</th>
                <th>Aksi</th>
              </tr>
              </thead>
              <tbody >
              <tr >
                <td valign="top"></td>
                <td valign="top"></td>   
                <td valign="top"></td>
                <td valign="top"></td>
                <td valign="top"></td>
                <td valign="top"></td>
                <td valign="top">
                  <a ><ion-icon name="trash"></ion-icon></a>
                  <a ><ion-icon name="create"></ion-icon></a>
                </td>       
              </tr>
              </tbody>
            </table>         
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>