
<ion-content>
	<ion-slides pager="true">
		<ion-slide class="step-one">
			<ion-card color="light">
		
				<ion-card-content>
						<h2><b>Masuk Ke Akun Anda</b></h2>
						<br>
					<ion-list>
		
			  <ion-item>
				<ion-label position="floating">Username</ion-label>
				<ion-input type="text" [(ngModel)]="username"></ion-input>
			  </ion-item>
		
			  <ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password" [(ngModel)]="password"></ion-input>
			  </ion-item>
		
			</ion-list>
		
		
					<ion-button expand="block" padding color="primary" (click)="prosesLogin()">Masuk</ion-button>
					<ion-button expand="block" padding color="primary" fill="outline" (click)="formRegister()">Silahkan Daftar</ion-button>
				<br>
				  </ion-card-content>
				  </ion-card>
		</ion-slide>
	
		<ion-slide class="step-two">
			<ion-card color="light">
		
				<ion-card-content>
						<h2><b>Masuk Ke Akun Kurir Anda</b></h2>
						<br>
					<ion-list>
		
			  <ion-item>
				<ion-label position="floating">Username</ion-label>
				<ion-input type="text" [(ngModel)]="username"></ion-input>
			  </ion-item>
		
			  <ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password" [(ngModel)]="password"></ion-input>
			  </ion-item>
		
			</ion-list>
		
		
					<ion-button expand="block" padding color="success" (click)="prosesLogin()">Masuk</ion-button>
				
				<br>
				  </ion-card-content>
				  </ion-card>
		</ion-slide>
	
		<ion-slide class="step-three">
		<ion-card color="light">
		
				<ion-card-content>
						<h2><b>Masuk Ke Akun Shop Anda</b></h2>
						<br>
					<ion-list>
		
			  <ion-item>
				<ion-label position="floating">Username</ion-label>
				<ion-input type="text" [(ngModel)]="username"></ion-input>
			  </ion-item>
		
			  <ion-item>
				<ion-label position="floating">Password</ion-label>
				<ion-input type="password" [(ngModel)]="password"></ion-input>
			  </ion-item>
		
			</ion-list>
		
		
					<ion-button expand="block" padding color="dark" (click)="prosesLoginshop()">Masuk</ion-button>
				<br>
				  </ion-card-content>
				  </ion-card>
		</ion-slide>
	</ion-slides>
</ion-content>