<ion-header>
    <ion-toolbar color="primary">
      <ion-title></ion-title>
      <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-buttons slot="primary">
       
        <ion-button color="light" fill="outline" (click)="prosesLogout()" routerDirection="root"><ion-icon slot="end" name="log-out"></ion-icon></ion-button>
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

      <ion-button routerLink="/registerkurir" color="success"  > Kurir  <ion-icon slot="start" name="bicycle" ></ion-icon></ion-button>
      <ion-button color="primary"  routerLink="/registertoko"  > Toko <ion-icon slot="start" name="appstore" ></ion-icon></ion-button>

      <ion-slides> 
          <ion-slide>
            <img src="assets/img/produk/2.jpg">
          </ion-slide>
          <ion-slide>
            <img src="assets/img/produk/1.png">
          </ion-slide>
          </ion-slides>

    <ion-list >
      <ion-card *ngFor='let item of barang.databarang'>    
        <ion-grid>
          <ion-row>          
            <ion-col col-5> 
              <ion-card-content>
                <img src="assets/img/produk/{{item.gambar}}">              
              </ion-card-content>
            </ion-col>
            <ion-col col-7>
              <ion-card-content>
                <div >
                  <h5 class="card-title mb-1">{{item.nama}}</h5>
                  <small>Stok : {{item.stok}} </small><br>
                  <span class="badge badge-pill badge-success mb-3">Rp.{{item.harga}} </span><br>
                
                    <ion-button color="primary"  [routerLink]="['/detilbarang', item.id, item.nama, item.kategori, item.stok,item.harga,item.kondisi,item.satuan,item.gambar]"><ion-icon md="md-cart"></ion-icon> &nbsp; keranjang</ion-button>
                    <ion-button color="secondary" ><ion-icon md="md-pricetags"></ion-icon> &nbsp; Beli</ion-button>
                   
  
                 
  
                </div>         
              </ion-card-content>                    
            </ion-col>          
          </ion-row>        
        </ion-grid>      
      </ion-card>
    </ion-list>  
  </ion-content>