<ion-header>
    <ion-toolbar color="primary">
      <ion-title></ion-title>
      <ion-buttons slot="start">
       
            <ion-button color="success" fill="solid"  (click)="registerkurir()" routerDirection="forward"><ion-icon  name="bicycle"></ion-icon></ion-button>
            <ion-button color="dark"    fill="solid" routerLink="/registertoko" routerDirection="forward"  > <ion-icon name="basket" ></ion-icon></ion-button>
          </ion-buttons>
     
       
      <ion-buttons slot="end">
          <ion-button icon-only *ngIf= "!isSearchbarOpened" (click)="isSearchbarOpened=true">
              <ion-icon name="search"></ion-icon>
              </ion-button> 
        <ion-button  color="primary" fill="outline" (click)="openCart()" routerDirection="root"><ion-badge color="danger" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
          <ion-icon color="light" name="cart" slot="icon-only"></ion-icon>
          
        </ion-button>
        
      </ion-buttons>
      
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-searchbar  [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" *ngIf="isSearchbarOpened" showCancelButton="true"  (ionCancel)="isSearchbarOpened=false">
        
      </ion-searchbar>
        <ion-slides pager #mySlider class="slides" (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
            <ion-slide *ngFor="let number of [1,2]">
            <img src="/assets/img/bg/{{number}}.jpg" />
          </ion-slide>
          </ion-slides>
<ion-list>
    <ion-row no-padding class="category-banner">
        <ion-col >
        sayur
        </ion-col>
      </ion-row>
            <ion-slides [options]="sliderConfig">
              
              <ion-slide *ngFor="let kategori of barang.datasayur;let i=index">
                
                  <ion-card>
                    <ion-card-header>
        
                      <ion-card-content>
                        <div>
                        <img src="assets/img/produk/{{kategori.gambar}}"style="width: 180px; height: 120px;">
                        <br>
                        <h1 class="card-title ">{{kategori.nama}}</h1>
                Stok : {{kategori.stok}} <br>

                <span class="badge  badge-success ">Rp.{{kategori.harga}} </span><br>
                <br>

              </div>
                        <ion-button  expand="full" (click)="addToCart(product)"><ion-icon name="cart">
                          
                        </ion-icon> &nbsp; keranjang</ion-button>
                       
        
                        <ion-button color="success" expand="full"[routerLink]="['/detilbarang', kategori.id, kategori.nama, 
                        kategori.kategori, kategori.stok,kategori.harga,kategori.kondisi,
                        kategori.satuan,kategori.gambar]"><ion-icon name="pricetags"></ion-icon> &nbsp; Beli</ion-button>
                   
                      </ion-card-content>
                    </ion-card-header>
                  </ion-card>
               
              </ion-slide>
            </ion-slides>

            <ion-row no-padding class="category-banner">
                <ion-col >
                buah
                </ion-col>
              </ion-row>
                    <ion-slides [options]="sliderConfig">
                      
                      <ion-slide *ngFor="let kategori of barang.databuah;let i=index">
                        
                          <ion-card>
                            <ion-card-header>
      
                
                              <ion-card-content>
                                
                                <div>
                                    <img src="assets/img/produk/{{kategori.gambar}}" style="width: 180px; height: 120px;">
                                    <br>
                                    <h1 class="card-title ">{{kategori.nama}}</h1>
                            Stok : {{kategori.stok}} <br>
                              <span class="badge  badge-success ">Rp.{{kategori.harga}} </span><br>
                              <br>

                            </div>
                
                                <ion-button  expand="full" (click)="addToCart(i)"><ion-icon name="cart"></ion-icon> &nbsp; keranjang</ion-button>
                               
                
                                <ion-button color="success" expand="full"[routerLink]="['/detilbarang', kategori.id, kategori.nama, kategori.kategori, kategori.stok,kategori.harga,kategori.kondisi,kategori.satuan,kategori.gambar]"><ion-icon name="pricetags"></ion-icon> &nbsp; Beli</ion-button>
                   
                              </ion-card-content>
                            </ion-card-header>
                          </ion-card>
                       
                      </ion-slide>
                    </ion-slides>
            </ion-list>
  </ion-content>
  <ion-tab-bar color="primary" slot="bottom">
      <ion-tab-button (click)="home()" >
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    <ion-tab-button (click)="updateprofile(nik,nama_user,alamat,kota,kode_pos,jenis_kelamin,tempat_lahir,tanggal_lahir,kontak,password,confirm_password)" >
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="prosesLogout()" >
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Keluar</ion-label>
      </ion-tab-button>
    
    </ion-tab-bar>